*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
    
}
html,body{
font-family: 'Oswald', sans-serif;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/* HEADER */
header.header {
    position: absolute;
    width: 100%;
    padding: 30px 0;
    z-index: 4;
}
.header__content {
    align-items: center;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}
.header__content a{
    color: #fff;
    font-size: 3.4rem;
    font-weight: 900;
}
.header__content li {
    display: inline;
    padding: 0 18px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s;
}
.header__content .nav--active{
    color: #e62b4a;
}
.header__content li:hover{
    color: #e62b4a;
}
/* CAROUSEL */
.carousel{
    background-image: url(https://cybersoft-newmeipaly.vercel.app/img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.carousel-content {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0;
    
}
.carousel-content h2{   
    font-size: 7.5rem;
    font-weight: 900;
    line-height: 8.3rem;
}
.carousel-content p{
    font-size:2.6rem ;
}
.carousel-content button{
    padding: 15px 30px;
    color: white;
    background-color: #e62b4a;
    border: none;
    font-size: 1.5rem;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.carousel-content button:hover{
    background-color: #a71b32;
}
.carousel__scroll i {
    margin-top: 50px;
    font-size: 30px;
    animation: arrowDown 1s linear 0s infinite;
}
@keyframes arrowDown {
    from {transform:translateY(0px) ;}
    to {transform:translateY(40px) ;
        
        opacity: 0;
    }
}
/* SERVICES */
.services{
    background-color: #000;
    padding: 50px 0;
}
.services__content {
    text-align: center;
    padding:60px 0;
    width: 80%;
    margin: 0 auto;
}
.services__title h3 {
    color: #e62b4a;
    font-size: 1.5rem;
    font-weight: 100;
}
.services__title h2 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 6.5rem;
    color: #fff;
}
.services__title p {
    margin: 30px 0;
    font-size: 1.6rem;
    color: #888;
    font-weight: 900;
    letter-spacing: 1px;
}
.slick__item.slick-slide {
    background-color: #fff;
    height: 214.2px;
    padding: 60px 20px;
    margin: 0 11px;
    width: 150px;
    position: relative;
}
.slick__item{
    color: #888;
}
.slick__item p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
}
.slick__item i{
font-size: 5.5rem;
}
.slick__item::after{
    content: "";
    width: 5px;
    height: 0;
    position: absolute;
    background-color: #e62b4a;
    display: block;
    top: 0;
    right: 0;
    transition: all 0.3s;
    
}
.slick__item:hover::after{
  height: 100%;
}
.slick-dots li button:before {
    color: #ffffff;
    font-size: 5rem;
    padding: 10px;
}
.slick-dots li.slick-active button:before {
    color: #e62b4a;
}
/*BLOGCONTENt */
.blog{
    width: 75%;
    margin: 100px auto;
}
.blog__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 50px;
}
.blog__title {
    text-align: center;
}
.blog__title p {
    color: rgb(152, 147, 147);
    font-size: 1.5rem;
    margin: 20px 0;
}
.blog__title h2{
    font-size: 5rem;
    font-weight: 400;
}
.blog__title p:nth-child(3) {
    color: rgb(124, 119, 119);
    font-weight: 700;
    font-size: 1.6rem;
}
.blog__metro-1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}
.blog__metro-10{
    grid-column: 3/ span 2;
    grid-row: 3 / span 2;
}
.blog__item img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter:grayscale(50%),contrast(50%) ;
}
.blog__icon {
    position: absolute;
    transform: translateY(30px);
    right: 15px;
    font-size: 1.4rem;
    
    background-color: #fff;
    transition: all 0.5s;
}
.blog__icon i{
    color: #000;
    padding: 10px 10px;
}
.blog__item:hover .blog__icon{
    transform: translateY(0);
}
.blog__item{
    position: relative;
}

.blog__overlay{
position: absolute;
background-color: rgba(230, 43, 74, 0.511);
top: 0;
width: 100%;
height: 100%;
padding: 20px;
opacity: 0;
transition: all 0.5s;
}
.blog__item:hover .blog__overlay{
opacity: 1;
}
.blog__item:hover .blog__text{
bottom: 30px;
}
.blog__text {
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
    
}
.blog__text span{
    font-size: 2rem;
    color: #ababab;
}
.blog__text p{
    font-size: 2.2rem;
    font-weight: 800;
    color: #fff;
}
/* couter */
.number{
    background-color: #000;

}
.number__content{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number__item .counter{
    color: #fff;
    font-size: 6rem;
}
.number__item p{
    color: #ababab;
    font-size: 2rem;
    margin-top: 10px;
}
.number__item {
    text-align: center;
    margin: 0 40px;
}
/* EXP */
.exp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cybersoft-newmeipaly.vercel.app/img/bussiness_img_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 900px;
    padding: 40px;
}
.exp__text {
    text-align: center;
}
.exp__text p {
    color: #e62b4a;
    font-size: 1.6rem;
}
.exp__text h2{
    color: #fff;
    margin: 20px 0;
    font-size: 5rem;
    font-weight: 400;
}
.exp__text p:nth-child(3) {
    color: rgb(123, 117, 117);
    font-size: 1.8rem;
    font-weight: 800;

}
video {
    margin-top: 40px;
    width: 900px;
}
.exp__video iframe{
    border: 1px solid pink;
    width: 100%;
}
/* CONTACT */
.contact{
    padding: 60px 0;
}
.contact__content{
    
width: 70%;
margin: 0 auto;
}
.contact__details{
    display: flex;
}
.contact__location{
    width: 60%;
    padding: 10px;
    
}
.contact__location iframe{
    width: 100% ;
    height: 100%;
}
.contact__form{
    width: 40%;
    padding: 10px;
}
.contact__text{
    text-align: center;
    line-height:1.3rem;
}
.contact__text h2{
    color: #000;
    font-size: 5rem;
    font-weight: 400;
}
.contact__text p{
   margin: 30px 0;
   font-size: 1.6rem;
   line-height: 3rem;
    color: #888;
}
.contact__form input{
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    line-height: 3rem;
    font-size: 1.6rem;
    transition: all 0.5s;
    border: 1px solid #ccc;
}
.contact__form input:focus{
    outline: none;
border-color: #e62b4a;
box-shadow: 1px 1px 10px #888;}
.contact__form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1.8rem;
}
.contact__form button{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 100px;
}
footer p{
    font-size: 1.9rem;
} 
footer a{
    /* display: block; */
} 
.footer i{
    padding: 20px 22px;
    background-color: rgb(62, 53, 53);
    border-radius: 26px;
    font-size: 1.6rem;
    margin-right: 6px;
    color: #fff;
    transition: all 0.5s;
    /* display: block; */
}
.footer i:hover{
    background-color: rgb(240, 67, 96);
}
/* TOP */
.arrowToTop{
    font-size: 1.8rem;
    padding: 14px 20px;
    background-color: rgba(136, 136, 136, 0.352);
    position: fixed;
    bottom: 0;
    right: 35px;
    border-radius: 6px;
    transition: all 0.5s;
    display: none;
    
}
.arrowToTop.show-arrow{display: block;}
.fa-angle-up::before {
    content: "";
    position: relative;
    top: -8px;
    color: rgb(218, 36, 36);
    animation: scrollbtn linear 1s infinite;
}
@keyframes scrollbtn{
    from{
        top: 10px;
    }
    to{
        top:-10px
    }
}